h1{
    text-align: center;
}
body{
    width:100%;
}
form{
    text-align: left;
    margin: 50px auto;
    background: grey;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    color:white;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
}
td, th{
    border: 1px solid pink;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}