h1{
    text-align: center;
}
body{
    width:100%;
}
form{
    text-align: left;
    margin: 50px auto;
    background: grey;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    color:white;
}